<?xml version="1.0"?>
<Config>
<Product-Name>Library Administration Application</Product-Name>
<Product-Version>1</Product-Version>
<Product-ID>1</Product-ID>
<Stamp>13fc77693e2</Stamp>
<Expiry>#</Expiry>
<Licensee>Demo Quiz User</Licensee>
<ActivationStatus>2</ActivationStatus>
<Host>vrunda.dyndns.org</Host>
<SubmissionPath><![CDATA[/webappusers/activate/submitrequest.jsp]]></SubmissionPath>
<ActivationPath><![CDATA[/webappusers/activate/activationrequest.jsp]]></ActivationPath>
<UpdateRegistrationPath><![CDATA[/webappusers/activate/updateregistrationrequest.jsp]]></UpdateRegistrationPath>
<Adaptor>eth4</Adaptor>
<ActivationKey>MWKUEG-750</ActivationKey>
</Config>
