<?xml version="1.0"?>
<Config>
<Product-Name>$WEBAPP</Product-Name>
<Product-Version>1.0</Product-Version>
<Product-ID></Product-ID>
<Stamp></Stamp>
<Expiry></Expiry>
<Licensee></Licensee>
<ActivationStatus>0</ActivationStatus>
<Host>localhost</Host>
<SubmissionPath><![CDATA[/k/activate/submitrequest.jsp]]></SubmissionPath>
<ActivationPath><![CDATA[/k/activate/activationrequest.jsp]]></ActivationPath>
<UpdateRegistrationPath><![CDATA[/k/activate/updateregistrationrequest.jsp]]></UpdateRegistrationPath>
<Adaptor></Adaptor>
<ActivationKey></ActivationKey>
</Config>
