<?xml version="1.0"?>
<Config>
<Product-Name>s-crud-devtool</Product-Name>
<Product-Version>1</Product-Version>
<Product-ID>1</Product-ID>
<Stamp></Stamp>
<Expiry>#</Expiry>
<Licensee>Demo User</Licensee>
<ActivationStatus>0</ActivationStatus>
<Host>localhost</Host>
<SubmissionPath></SubmissionPath>
<ActivationPath></ActivationPath>
<UpdateRegistrationPath></UpdateRegistrationPath>
<Adaptor></Adaptor>
<ActivationKey></ActivationKey>
</Config>
